/*--------------------
Import Google Fonts
--------------------*/

/* main font for menu. */
@import url(http://fonts.googleapis.com/css?family=Roboto:400|Raleway:200,300,400,500,700,900);


/*---------------------------------*/

@font-face {
    font-family: "BoschSansCond-Regular";
    src: url("../fonts/BoschSansCond-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/*--------------------
0. Preload
--------------------*/
#hellopreloader>p {
    display: none;
}

#hellopreloader_preload {
    display: block;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    background: rgb(24, 23, 26) url(http://hello-site.ru//main/images/preloads/rings.svg) center center no-repeat;
    background-size: 137px;
}


/*--------------------
1. General
--------------------*/

body {
    margin: 0px;
    font-family: "Raleway", Sans-serif;
}

.mainClassIn {
    display: block;
    transition: 1s;
}

.mainClassOut {
    display: none;
    transition: 1s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
    letter-spacing: 0.4px;
    font-family: "BoschSansCond-Regular", Sans-serif;
    color: #232323;
}
.row .col-md-3:hover{
    background-color: #383838;
}


p {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #686868;
}

a:hover,
a:focus,
a:active,
a.active {
    color: white;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

::selection {
    text-shadow: none;
    background: #bebebe;
}


.logoMain,
.logoMainWithout {
    width: 100%;
}

.logoMain {
    animation-name: blink;
    animation-timing-function: ease;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes blink {
    1% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.logoAnimate:not(:hover) {
    width: 200px;
    height: 108px;
    transition: 0.5s;
}

.logoAnimate:not(:hover) .logoMainWithout {
    position: relative;
    top: -106px;
    left: 0;
    z-index: -1;
    transition: 0.5s;

}

.logoAnimate:hover {
    width: 220px;
    height: 118px;
    transition: 0.5s;
    margin-left: -10px;
}

.logoAnimate:hover .logoMainWithout {
    top: -117px;
    position: relative;
    left: 0;
    z-index: -1;
    transition: 0.5s;

}

@media (min-width: 768px) {
    section {
        padding: 150px 0;
    }
}

section {
    padding: 35px 0 60px;
}

/*--------------------
1.1 Reset bootstrap
--------------------*/

.row-0-gutter {
    margin-left: -13px;
    margin-right: -13px;
}

.col-0-gutter {
    padding-left: 0;
    padding-right: 0;
}

.col-md-6 {
    margin-top: -2px;
    margin-left: -2px;
}

/*--------------------
2. Navigation
--------------------*/

.navbar-default .nav li a {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #000;
    border-bottom: 1px solid;
    border-color: #000;
    margin: 10px 15px;
    padding: 0 0 2px 0;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    border-color: #991919;
    outline: 0
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #fed136
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #fec503
}

@media (min-width:768px) {
    .navbar-default {
        background-color: transparent;
        padding: 40px 0 0px;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
        border: 0
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s padding: 0px;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px
    }

    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 4px;
    }
}

/*--------------------
4. Sections
--------------------*/

.section-title {
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 45px;
    text-transform: uppercase;
}

.section-title p {
    font-size: 18px;
    font-weight: 300;
    line-height: 33px;
    margin: 25px 100px 30px 100px;
}

.mz-module .section-title {
    padding: 40px 0;
}

/*--------------------
4.1. About
--------------------*/

.mz-about-container {
    padding: 0 50px;
}

.mz-module-about {
    padding: 20px;
}

.mz-about-default {
    background-color: #252525;
}

.mz-about-dark {
    background-color: #2B2B2B;
}

.mz-module-about h3 {
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.mz-module-about p {
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    color: #9C9C9C;
}

.ot-circle {
    text-align: center;
    color: #E8E8E8;
    margin: 40px 0;
    font-size: 37px;
}

/*--------------------
4.2. Skills
--------------------*/

.skills-text h2 {
    margin: 0 0 30px;
}

.skillbar-item {
    margin-bottom: 30px;
}

.skillbar-item:last-child {
    margin-bottom: 60px;
}

.skillbar {
    position: relative;
    display: block;
    width: 100%;
}

.skillbar-bar {
    display: block;
    background-color: #FFFFFF;
    height: 10px;
    width: 100%;
    border: 1px solid #D8D8D8;
    border-radius: 10px;
}

.skillbar h3 {
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    color: #3A3A3A;
    letter-spacing: 2px;
    margin: 0;
    padding: 0 0 12px 0;
}

.skillbar-percent {
    color: #fff;
    background-color: #B91919;
    float: left;
    height: 4px;
    margin: 2px 0;
    border-radius: 10px;
    border: 1px solid #B91919;
}

/*--------------------
4.3. Portfolio
--------------------*/

figure {
    position: relative;
    overflow: hidden;
    margin: 0 1px 1px 0;
    background: #726FB9;
    text-align: center;
    cursor: pointer;
}

figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ot-portfolio-item figure figcaption>a {
    z-index: 100;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.ot-portfolio-item figure figcaption,
.ot-portfolio-item figure figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

figure.effect-bubba {
    background: #000;
    margin-bottom: 1px;
}

figure.effect-bubba img {
    opacity: 0.8;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
    opacity: 0.4;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

figure.effect-bubba figcaption::after {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
}



figure.effect-bubba i {
    color: #fff;
    font-size: 50px;
    font-weight: 500;
    padding: 250px 2.5em;
    opacity: 0;
    z-index: 2000;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover i {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/*--------------------
4.4. Dark Short section (counters, quote, etc)
--------------------*/

.light-bg {
    background: #f1f1f1;
}

/*--------------------
4.5. Intro Text
--------------------*/

.intro-section {
    padding: 60px 0 0 0;
    margin: 0;
}

.intro-section .section-title {
    /*	padding: 0px 85px; */
    text-align: justify;
}

.intro-section p {
    font-size: 14px;
    color: #6B6B6B;
    font-weight: 500;
    line-height: 32px;
    padding: 47px;
    font-family: "Raleway";
    margin: 0;
    background-color: #F9F9F9;
}

/*--------------------
4.6. Team
--------------------*/

.team-item {
    text-align: center;
    background-color: #F5F5F5;
}

.team-item h3 {
    font-size: 25px;
    font-weight: 300;
    margin: 30px 0 20px;
    text-transform: uppercase;
}

.team-item .team-position {
    color: #565656;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
}

.team-item p {
    font-size: 13px;
    font-weight: 500;
    color: #848484;
    padding: 18px 30px 35px 30px;
    line-height: 24px;
}

/*--------------------
4.7. Contacts
--------------------*/

section#contact form {
    width: 60%;
    margin: 15px auto;
}

section#contact.form-group {
    margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 15px;
    border: 1px solid #BBBBBB;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
    font-size: 13px;
}

.contact h3 {
    margin-bottom: 30px;
}

.contact p {
    font-size: 13px;
}

.contact .day {
    display: inline-block;
    width: 80px;
}

.contact i {
    margin-right: 5px;
}

/*--------------------
5. Footer
--------------------*/

.logoSocial {
    width: 173px;
    margin-top: 29px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logoSocial a {
    margin-left: 20px;
}

footer a div {
    margin-top: 24px;
    height: 20px;
}

.dev:visited {
    color: rgb(148, 148, 148);
}

.dev {
    margin-right: 23px;
    margin-top: 15px;
    text-decoration: none;
}

.timeFooter {
    position: absolute;
    left: 45%;
    margin-top: 35px;
}


footer i {
    color: #9c9c9c;
}

footer i:hover {
    color: #ffffff;
}

footer {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 0 0 20px;
    height: 88px;
    font-weight: bold;
    background: rgb(36, 36, 36);
}

/*--------------------
6. Modal
--------------------*/

.modal-content {
    border-radius: 0;
}

.modal-header .close {
    font-size: 30px;
}

.modal-title {
    text-transform: uppercase;
    font-size: 23px;
}

.modal-body {
    padding: 0;
}

.modal-body p {
    margin: 30px 20px;
    color: #2D2D2D;
}

.modal-works {
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    margin: 25px 20px;
}

.modal-works span {
    background-color: #505050;
    margin-right: 15px;
    padding: 5px 10px;
}

.mz-module-about i {
    color: white;
}

/*--------------------
7. Components
--------------------*/

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    color: #fff;
    background-color: #505050;
    border-color: #505050;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.open .dropdown-toggle.btn {
    color: #fff;
    background-color: #505050;
    border-color: #505050;
}

.btn {
    display: inline-block;
    padding: 8px 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-xl {
    color: #fff;
    background-color: #726FB9;
    border-color: #726FB9;
    font-family: "Robot", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
}

/* Back to top button
---------------------------------- */
#back-top {
    position: fixed;
    z-index: 1000;
    bottom: 140px;
    right: 50px;
    opacity: 0.5;
}

#back-top a {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: block;
    text-align: center;
    font: 11px/100% Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    background: #A9A9B1;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}

#back-top a:hover {
    background: #4e4e4e;
}

/* arrow icon (span tag) */
#back-top i {
    margin-top: 15px;
    font-size: 28px;
}

@media only screen

/* and (min-width : 320px) */
and (max-width : 1003px) {

    #back-top {
        position: fixed;
        bottom: 10px;
        right: 30px;
    }

    #back-top a {
        width: 40px;
        height: 40px;
    }

    #back-top i {
        margin-top: 7px;
        font-size: 20px;
    }
}

@media only screen and (max-width : 765px) {

    section {
        padding: 15px 0 60px;
    }

    .container a {
        margin-left:31%;
    }

    .logoAnimate:not(:hover) {
        width: 100px;
        height: 54px;
        transition: 0.5s;
    }

    .logoAnimate:not(:hover) .logoMainWithout {
        position: relative;
        top: -53px;
        left: 0;
        z-index: -1;
        transition: 0.5s;

    }

    .logoAnimate:hover {
        width: 110px;
        height: 59px;
        transition: 0.5s;
        margin-left: -5px;
    }

    .logoAnimate:hover .logoMainWithout {
        top: -59px;
        position: relative;
        left: 0;
        z-index: -1;
        transition: 0.5s;
    }

	.dev {
        display: none;
    }

    figcaption .fa-search{
        display: none;
    }
}